{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}

  {% if page and page.meta and page.meta.comments != false %}
  <section class="giscus-comment">
    <script
      src="https://giscus.app/client.js"
      data-repo="codingriver/codingriver.github.io"
      data-repo-id="REPLACE_ME_REPO_ID"
      data-category="General"
      data-category-id="REPLACE_ME_CATEGORY_ID"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="zh-CN"
      crossorigin="anonymous"
      async>
    </script>
  </section>
  {% endif %}
{% endblock %}
